<mapper namespace="com.mini.mybatis.mapper.UserMapper">
    <select id="selectByPrimaryKey" parameterType="java.lang.Long"
            resultType="com.mini.mybatis.entity.User">
        select *
        from user
        where id = #{id}
    </select>

    <select id="selectAll" parameterType="java.lang.Long"
            resultType="com.mini.mybatis.entity.User">
        select *
        from user
        where
            username like concat('%', #{username}, '%')
            and nickname like concat('%', #{nickname}, '%')
    </select>
</mapper>