<mapper namespace="com.mini.mybatis.mapper.UserMapper">
    <select id="findById" parameterType="java.lang.Long"
            resultType="com.mini.mybatis.entity.User">
        select *
        from user
        where id = #{id}
    </select>

    <select id="findAll" parameterType="com.mini.mybatis.entity.User"
            resultType="com.mini.mybatis.entity.User">
        select *
        from user
    </select>

    <select id="findOne" parameterType="com.mini.mybatis.entity.User"
            resultType="com.mini.mybatis.entity.User">
        select *
        from user
        where id = #{id}
    </select>

    <select id="findByUsername" parameterType="java.lang.String"
            resultType="com.mini.mybatis.entity.User">
        select *
        from user
        where username = #{username}
    </select>

    <insert id="insert" parameterType="com.mini.mybatis.entity.User" resultType="int">
        insert into user(id, username, nickname, password)
        values (#{id}, #{username}, #{nickname}, #{password})
    </insert>

    <delete id="delete" parameterType="java.lang.String" resultType="int">
        delete
        from user
        where id = #{id}
    </delete>
</mapper>